.DS_Store
conversion_log.txt
output_COMPRESSED/.DS_Store
output_COMPRESSED/Videos/.DS_Store
output_COMPRESSED/Videos/B002_04271301_C205.mp4
output_COMPRESSED/Videos/ectra videos/B002_04271301_C205EXTRA.mp4
Videos/.DS_Store
Videos/B002_04271301_C205.mov
Videos/ectra videos/B002_04271301_C205EXTRA.mov
